{% extends 'base.html' %}
{% load static %}
{% block conter %}
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>Welocome to DigiTech Service Co., Ltd. </h1>
        <p>
            ยินดีต้อนรับสู่เว็บไซต์ เราคือเราคือเราคือเราคือเราคือเราคือเราคือ
            เราคือเราคือเราคือเราคือเราคือเราคือเราคือเราคือเราคือเราคือเราคือ
            เราคือเราคือเราคืออออเราคือเราคือเราคือเราคือเราคือเราคือเราคือ
            เราคือเราคือเราคือเราคือเราคือเราคือเราคือเราคือเราคือเราคือเราคือ
            เราคือเราคือเราคือเราคือเราคือเราคือเราคือเราคือเราคือเราคือเราคือ
            เราคือเราคือเราคือเราคือเราคือเราคือเราคือเราคือเราคือเราคือเราคือ
        </p>

        <div class="row">
            <div class="col-lg-4">
                <img src="{% %}">
            </div>
            <div class="col-lg-8">
                Awards: Certificatf of Bustal Company 2022,
                Champaign of New Business Era 2020,
                Certificatf of Good groew up management organntion
            </div>
        </div>
            <div class="text-center">
                <div class="spinner-border text-muted"></div>
                <div class="spinner-border text-primary"></div>
                <div class="spinner-border text-success"></div>
                <div class="spinner-border text-info"></div>
                <div class="spinner-border text-warning"></div>
                <div class="spinner-border text-danger"></div>
                <div class="spinner-border text-secondary"></div>
                <div class="spinner-border text-dark"></div>
                <div class="spinner-border text-light"></div>
            </div>
    </div>
{% endblock %}