{% extends 'base.html' %}
{% load static %}
{% block conter %}
    <h1 class="text-center text-primary">Welcome to Secong Gapsie</h1>
    <h2 class="text-center text-danger">Today is : Monday</h2>
    <hr class="text-danger" width="50%" align="canter">
    <p class="bg-white text-bg-danger text-center border-1 ">
        เว็บแอพพลิเคชัน คือ ซอฟต์แวร์หรือโปรแกรมที่สํามํารถเข้ําถึงได้โดยโปรแกรมเว็บบรําวเซอร์<br>
        กํารทำงํานส่วน Frontend จะใช้ภําษํา HTML, CSS, JavaScript ซึ่งรองรับกํารทำงานร่วมกับเว็บ<br>
        บราวเซอร์ทั่วไป ส่วนทํางด้ําน Backend นั้น จะใช้โปรแกรมภาษาต่าง ๆ ในกํารเขียนโปแกรม<br>
        เช่น Java Servlet, PHP, ASP, Python, เป็นต้น<br>
    </p> <br><br><br>
    <tale class="table-danger table-bordered table-success table-hover">
        <tr bgcolor="#a52a2a">
            <th width="20%">รหัสวิชา</th>
            <th width="50%">ชื่อวิชา</th>
            <th width="15%">หน่วยกิต</th>
            <th width="15%">เกรด</th>
        </tr>
        <tr>
            <td align="center">32-406-655-300</td>
            <td align="center">ระบบฐานข้อมูล</td>
            <td align="center">1</td>
            <td align="center">D</td>
        </tr>

        <tr>
            <td align="center">32-406-655-400</td>
            <td align="center">โปรแกรมประมวนผล</td>
            <td align="center">3</td>
            <td align="center">A</td>
        </tr>

        <tr>
            <td align="center">32-406-655-500</td>
            <td align="center">บัญชี</td>
            <td align="center">1</td>
            <td align="center">D+</td>
        </tr>

        <tr>
            <td align="center">32-406-655-600</td>
            <td align="center">การตลาด</td>
            <td align="center">3</td>
            <td align="center">B</td>
        </tr>
    </tale>
    <br><br>
    <a href="firstweb.html" class="btn btn-warning-danger">Go to Firs Web</a>
    <a href="thirdpage.html" class="btn btn-danger">Go to Third Page</a><br>

    <br><br><br><br>

{% endblock %}
