{% extends 'base.html' %}
{% load static %}
{% block conter %}

    <div class="bg-light"></div>
    <h1 class="bg-body table-success">ยินดีต้อนรับสู่อะไรก็ไม่รู้</h1>
    <h2>My Favorite Song : Born it Down</h2>
    <table class="table table-warning">
        <tr>
            <td><img src="{% static 'images/bo01.png' %}" width="200px" height="200px"></td>
            <td><img src="{% static 'images/bo01.png' %}" width="200px" height="200px"></td>
            <td><img src="{% static 'images/bo01.png' %}" width="200px" height="200px"></td>
        </tr>
    </table>
    <p class="bg-warning text-primary">
        Always said I was a good kid <br>
        Always said I had a way with words <br>
        Never knew I could be speechless <br>
        Don't know how I'll ever break this curse <br>
        Now the world is only white noise <br>
        Frequencies that I can't understand <br>
        I can't be bothered with the teachers <br>
        Always trying to shape the way I act <br>
        Burn it down, burn it down, burn it down, burn it down <br>
        I'll set fire to the whole place <br>
        I don't even care about our house <br>
        It's not the same in here since he left anyways<br>
        Burn it down, burn it down, burn it down, burn it down<br>
        Always said I was a good kid<br>
        Always said I had a way with words<br>
        Never knew I could be speechless<br>
        Don't know how I'll ever break this curse<br>
        Now the world is only white noise<br>
        Frequencies that I can't understand<br>
        I can't be bothered with the teachers<br>
        Always trying to shape the way I act<br>
        Burn it down, burn it down, burn it down, burn it down<br>
        Mamma told me all of this is<br>
        Just a place we have to settle for<br>
        Less than anything we dream on<br>
        We'll continue to be disappointments<br>
        I feel down, I feel down, I feel down, I feel down<br>
        I feel down, I feel down, I feel down, I feel down<br>
        Burn it down, burn it down, burn it down, burn it down<br>
        Burn it down, burn it down, burn it down, burn it<br>
        Burn it, burn it<br>
    </p> <br> <br>
    Other song that i like: <br>
    <b>
        <ul type="square">
            <li>Warriors</li>
            <li>Rise</li>
            <li>Take Over</li>
            <li>Awaken</li>
        </ul>
    </b>

    <ol>
        <li>Warriors</li>
        <li>Rise</li>
        <li>Take Over</li>
        <li>Awaken</li>
    </ol>
    </br>

    <a href="firstweb.html" class="btn btn-danger">Go to Firsweb</a>
    <a href="secondpage.html" class="btn btn-warning">Go to Secondpage</a>
    <a href="http://WWW.goole.com" target="blank">
        <img src="{% static 'images/google.png' %}" width="150px" height="70px">
    </a>
    <br><br><br>

{% endblock %}